*.o
!lib/levine/bin/*

code/CO-MinCut.h.gch

levine1995_code/CUT/bin/*

*.data


presentation_1/.texpadtmp/mincut.aux

presentation_1/.texpadtmp/mincut.log

presentation_1/.texpadtmp/mincut.nav

presentation_1/.texpadtmp/mincut.out

presentation_1/.texpadtmp/mincut.snm

presentation_1/.texpadtmp/mincut.synctex.gz

presentation_1/.texpadtmp/mincut.toc
.idea

levine1995_code/CUT/src/cyclegen

levine1995_code/CUT/src/dblcyclegen

levine1995_code/CUT/src/ho

levine1995_code/CUT/src/ho_noxs

levine1995_code/CUT/src/irregulargen

levine1995_code/CUT/src/noigen

levine1995_code/CUT/src/prgen

levine1995_code/CUT/src/regulargen

levine1995_code/CUT/src/wheelgen

levine1995_code/CUT/src/ni

levine1995_code/CUT/src/bikewheelgen
levine1995_code/CUT/src/out
lib/levine/bin
levine1995_code/CUT/src/randomgen
.Rproj.user

report/.texpadtmp/report.synctex.gz

report/.texpadtmp/report.dvi

report/.texpadtmp/report.ps

report/report.ps

report/report.zip

report/report.aux
report/report.bbl

*.gz

report/report.pdf

*.aux

*.log

*.blg

*.bbl

*.nav

*.snm

*.toc

*.out

*.gz

CMakeFiles/*

src/CMakeFiles/*
src/executables/CMakeFiles/*
*.cmake

CMakeCache.txt

*.cmake

executables/CMakeFiles/*

src/executables/CMakeFiles/*
CMakeCache.txt

DartConfiguration.tcl

Makefile

src/CMakeFiles/*

**/*.pyc
**/__pycache__

report/bsp-mincut.pdf
*.in
evaluation/.Rhistory

sc-paper/co-bsp-mincut.pdf

sc-paper/.texpadtmp/co-bsp-mincut.pdf

group-presentation-feb/bsp-mincut-group.pdf
cmake-build-debug
livejournal-links*
**/*.RData

**/.DS_Store
**/.Rhistory

sc-paper/theory-appendix.pdf

sc-paper/ACM-Reference-Format.bst
